* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-color: firebrick;
    --main-color: white;
    --accent-color: #D6908F;
}

body {
    background-color: var(--main-color);
}

/*
Home page styles
*/

#nav-logo1 {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

#nav-logo2 {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    opacity: 0;
}

#nav-logo2:hover {
    opacity: 1;
}

nav {
    background-color: var(--main-color);
    width: 10%;
    height: 100vh;
    position: fixed;
    z-index: 1;
}

ul {
    list-style-type: none;
}

li {
    text-align: right;
}

nav a {
    font-family: "Rubik", sans-serif;
    font-size: 2vw;
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    padding: 10px;
}

nav a:hover {
    background-color: var(--text-color);
    color: var(--main-color);
}

#home-section {
    margin-left: 10%;
}

#home-section h1 {
    font-family: "Rubik", sans-serif;
    font-size: 7vh;
    text-align: center;
    line-height: 2;
    color: var(--text-color);
}

#about-section h1,
#music-section h1,
#dance-section h1,
#design-section h1 {
    font-family: "Rubik", sans-serif;
    font-size: 6vh;
    text-align: center;
    line-height: 2;
    color: var(--text-color);
}

#music-producer-text {
    animation-name: introText;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
}

#choreographer-text {
    animation-name: introText;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
}

#web-designer-text {
    animation-name: introText;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
}

@keyframes introText {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

#intro-section {
    background-color: var(--main-color);
    height: 50vh;
    align-content: center;
}

#links-div {
    background-color: var(--main-color);
    max-width: 100%;
    height: 50vh;
    padding: 0 10px 10px 10px;
}

#links-section {
    border-radius: 10px;
    background-color: var(--text-color);
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

i {
    color: var(--accent-color);
    transition: 0.2s;
}

i:hover {
    transform: scale(1.2);
    color: var(--main-color);
}

/*
About page styles
*/

#about-section,
#music-section,
#dance-section,
#design-section {
    margin-left: 10%;
    padding: 0 10px 0 10px;
}

.first-text {
    animation-name: introText;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
}

.second-text {
    animation-name: introText;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
}

.emphatic-word {
    color: var(--accent-color);
    text-decoration: underline;
}

.article-div {
    background-color: var(--text-color);
    border-radius: 10px;
    max-width: 100%;
}

article {
    border-radius: 10px;
    font-family: "Rubik", sans-serif;
    font-size: 2vh;
    background-color: var(--text-color);
    color: var(--main-color);
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.3;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    padding: 15px 15px 15px 15px;
}

article a:link {
    color: var(--main-color);
}

#picture-section {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    margin: 0 auto 0 auto;
    max-width: 1110px;
    padding: 15px 0 15px 0;
}

#picture-section img {
    border: 5px solid var(--text-color);
    border-radius: 10px;
    height: auto;
    max-width: 100%;
    transition: 0.2s;
}

#picture-section img:hover {
    border: 5px solid var(--accent-color);
    cursor: pointer;
    transform: scale(1.02);
}

#big-picture {
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 90px 50px 50px 50px;
    z-index: 2;
}

#x-button {
    color: var(--accent-color);
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: 0.2s;
}

#x-button:hover {
    color: var(--main-color);
    cursor: pointer;
    transform: scale(1.1);
}

.style-picture {
    animation-name: enlargePicture;
    animation-duration: 0.5s;
    display: flex;
    align-items: center;
    border: 5px solid var(--accent-color);
    border-radius: 10px;
    margin: 0 auto 0 auto;
    max-width: 600px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@keyframes enlargePicture {
    0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}

/*
Music page styles
*/

#audio-section {
    background-color: var(--main-color);
}

#audio-section iframe {
    background-color: var(--main-color);
    display: block;
    margin: 0 auto 0 auto;
    max-width: 1100px;
    padding: 15px;
}

/*
Dance page styles
*/

/*
Design page styles
*/

#website-section {
    padding: 15px 0 0 0;
    text-align: center;
}

#website-section a {
    color: var(--text-color);
    font-family: "Rubik", sans-serif;
    font-size: 4vh;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

#website-section a:hover {
    text-decoration: underline;
}

#website-section p {
    color: var(--accent-color);
    font-family: "Rubik", sans-serif;
    font-size: 2vh;
    letter-spacing: 1px;
    line-height: 1.3;
    padding: 5px 15px 5px 15px;
}

/*
Media queries
*/

@media screen and (max-width: 1100px) {
    #nav-logo1 {
        width: 110px;
    }

    nav {
        width: 110px;
    }

    nav a {
        font-size: 22px;
    }

    #home-section,
    #about-section,
    #music-section,
    #dance-section,
    #design-section {
        margin-left: 110px;
        left: 110px;
    }

    #links-section {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    #picture-section {
        grid-template-columns: auto auto auto;
    }

    #big-picture {
        padding: 90px 40px 40px 40px;
    }
}

@media screen and (max-width: 800px) {
    #design-section h1 {
        font-size: 6vw;
    }

    #picture-section {
        grid-template-columns: auto auto;
    }

    #big-picture {
        padding: 90px 40px 40px 40px;
    }
}

@media screen and (max-width: 700px) {
    #home-section h1 {
        font-size: 8vw;
    }
    
    #music-section h1,
    #dance-section h1 {
        font-size: 6vw;
    }

    #big-picture {
        padding: 90px 30px 30px 30px;
    }
}

@media screen and (max-width: 600px) {
    #about-section h1 {
        font-size: 8vw;
    }

    #picture-section {
        grid-template-columns: auto;
    }

    #big-picture {
        padding: 90px 20px 20px 20px;
    }
}

@media screen and (max-width: 500px) {
    header {
        display: flex;
    }

    #nav-logo1 {
        width: 70px;
    }

    #nav-logo2 {
        width: 70px;
        padding: 5px;
    }

    nav {
        width: 100vw;
        height: 75px;
        position: fixed;
    }

    ul {
        width: 100%;
        display: grid;
        grid-column-start: 3;
        grid-column-end: 2;
        grid-template-columns: 70px auto auto;
    }

    li {
        text-align: center; 
    }

    #image-logo {
        grid-row: 1 / span 2;
    }

    nav a {
        padding: 5px;
    }

    #home-section {
        margin-left: 0;
    }

    #home-section h1 {
        font-size: 5vh;
        padding-top: 10%;
        line-height: 1;
    }

    #links-section {
        justify-content: space-around;
    }

    #about-section,
    #music-section,
    #dance-section,
    #design-section {
        margin-left: 0;
        padding-top: 75px;
    }

    #about-section h1 {
        font-size: 10vw;
    }

    #music-section h1, 
    #dance-section h1 {
        font-size: 8vw;
    }

    #design-section h1 {
        font-size: 7vw;
    }
}

@media screen and (max-width: 400px) {
    #home-section h1,
    #about-section h1,
    #dance-section h1 {
        font-size: 10vw;
    }

    #dance-section h1 {
        font-size: 8vw;
    }
}